


/* 
 * BUTTON 
 */

.dino-button {
	position: relative;
	padding: 3px 3px;
}




/*
 * SPLIT BUTTON
 */

.dino-split-button {
	position: relative;
	display: inline-block;
}


/*
 * PULSE ICON
 */

.dino-pulse-icon {
	position: relative;
}

.dino-pulse-icon img {
	position: absolute;
}

 