


/* 
 * BUTTON 
 */

.dino-button {
	position: relative;
	padding: 3px 3px;
}

/*
.dino-button-text-none {
	text-indent: -10000000px;
}

.dino-button-text-icon {
	margin-left: 16px;
}


.dino-button-icon-only {
}

.dino-button-icon-text {
	position: absolute;
}
*/



/*
 * SPLIT BUTTON
 */

.dino-split-button {
	position: relative;
	display: inline-block;
}


/*
 * PULSE BUTTON
 */

.dino-pulse-button {
	position: relative;
}

.dino-pulse-button img {
	position: absolute;
}

 