

.dc-advanced-input {
	border: 1px solid #aaaaaa;
}

.dino-css-button {
	cursor: pointer;
}

.dc-assist-file {
	position: relative;
	overflow: hidden;
}




/* Buttons */
.dino-button {
	position: relative;
/*	padding: 0;*/
}

.dino-button-text-none {
	text-indent: -10000000px;
}

.dino-button-text-icon {
	margin-left: 16px;
}


.dino-button-icon-only {
	left: 50%;
/*	top: 50%;*/
	margin-left: -8px;
/*	margin-top: 0px;*/
}

.dino-button-icon-text {
}


.dino-icon {
	position: absolute;
}

.dino-icon-16 {
	width: 16px;
	height: 16px;
}


.dino-toolbar .dino-button { display: inline-block; margin: 0 2px 0 2px; }



.dino-grid {
	
}

.dino-grid-body {
	text-align: center;
}

.dino-grid-head {
	background-color: #f0f0f0;
}

.dino-grid-head th {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.dino-grid-row td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.dino-grid-row:hover {
	background-color: #fcfcfc;
}
