

.clearfix {
	clear: both;
}

.dino-hidden {
	display: none !important;
}

.dino-center-align {
	display: block;
	margin: 0 auto;
}
/*
.dino-center-v {
	vertical-align: middle;
}
*/

.dc-advanced-input {
	border: 1px solid #aaaaaa;
}

.dc-assist-file {
	position: relative;
	overflow: hidden;
}




/* Buttons */
.dino-button {
	position: relative;
}

.dino-button-text-none {
	text-indent: -10000000px;
}

.dino-button-text-icon {
	margin-left: 16px;
}


.dino-button-icon-only {
/*	left: 50%;
	top: 50%;
*/	
/*	margin-left: -8px;
	margin-top: 0px;*/
}

.dino-button-icon-text {
	position: absolute;
}


/*.dino-toolbar .dino-button { display: inline-block; margin: 0 2px 0 2px; }*/

.dino-toolbar-h .dino-toolbar-item { display: inline-block; }
.dino-toolbar-v .dino-toolbar-item { display: block; }



/*
 * TREE
 */

.dino-tree-node.collapsed > ul {
	display: none;
}

.dino-tree {
	overflow: auto;
}



/*
 * TREE-GRID
 */

.dino-tree-grid-item-button {
	position: absolute;
}

.dino-tree-grid-item {
	display: inline;
	position: relative;
}




/*
 * Tabs
 */





/*
.dino-tab-button-active {
	height: 25px !important;
}

.dino-tab-content {
	position: relative;
	height: 200px;
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}
*/



[layout='dock'] {
	position: relative;
}

.dock-left-top, .dock-left-center, .dock-left-bottom, .dock-right-top, .dock-right-center, .dock-right-bottom {
	position: absolute;
}

[dock] {
	position: absolute;	
}

[dock|="left"] {
	left: 0;	
}

[dock|="right"] {
	right: 0;	
}

[dock$="center"] {
	top: 50%;
}

[dock|="center"] {
	left: 50%;
}

[dock$="bottom"] {
	bottom: 0;
}

/*
.dock-left-top {
	left: 0;
	top: 0;
}

.dock-left-center {
	left: 0;
	top: 50%;
}

.dock-left-bottom {
	left: 0;
	bottom: 0;
}

.dock-right-top {
	right: 0;
	top: 0;
}

.dock-right-center {
	right: 0;
	top: 50%;
}

.dock-right-bottom {
	right: 0;
	bottom: 0;
}
*/

.dino-dropdown-box {
	position: absolute;
	display: none;
/*
 	background-color: white;
	padding: 2px 5px;
	border: 1px solid #aaaaaa;
*/	
}



.dino-text {
}

.dino-text-item {
	position: relative;
	display: inline;
}

.dino-pulse-button {
	position: relative;
}

.dino-pulse-button img {
	position: absolute;
}



/**
 * Меню
 */

.dino-menu-item {
	position: relative;
}


.dino-left-item {
	left: 0;
	top: 0;
	position: absolute;
}

.dino-right-item {
	right: 0;
	top: 0;
	position: absolute;
}


.dino-context-menu {
	position: absolute;
	display: none;
}






.dino-3c-layout {
	position: relative;
/*	width: 100%;*/
}

.dino-3c-left, .dino-3c-right { 
	position: absolute; 
}

.dino-3c-left {
	left: 0;
	top: 0;
}
.dino-3c-right { 
	right: 0;
	top: 0;
}
.dino-3c-center {
}


/*
 * Row layout
 */
[layout='row'] {
	display: table-row;
}

[layout='row'] > div {
	display: table-cell;
	vertical-align: middle;
}

/*
 * COLUMN LAYOUT
 */
[layout='column'] {
	display: table;
/*	vertical-align: middle;*/
	width: 100%;
}


[layout='column'] > div {
	display: table-row;
}


[layout='column'] > div > div {
	display: table-cell;
	height: 100%;
	vertical-align: top;
}



/*
 * LAYOUT (FLOAT)
 */

.float-item {
	float: left;
}


/*
 * FORM LAYOUT
 */

[layout='form'] > .dino-form-item-wrapper {
	display: table-row;	
}

[layout='form'] > .dino-form-item-wrapper > * {
	display: table-cell;	
}


[layout='simple-form'] > .dino-form-item-wrapper {
	
}




.dino-panel {
	
}

.dino-panel-header {
	
}

.dino-panel-content {
	
}

.dino-panel-footer {
	
}





.dino-growl {
	cursor: pointer;
}




/*
 * DIALOG
 */

.dino-dialog-overlay {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2000;
}	

.dino-dialog-content {
	position: absolute;
	z-index: 2100;
	background-color: #fff;
	left: 50%;
	top: 50%;
}




/*
 * SPLIT BUTTON
 */


.dino-split-button {
	position: relative;
}




/*
.dino-growl-box {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: rgba(255, 255, 255, .5);
	z-index: 1000;
	display: none;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	cursor: pointer;
	border: 1px solid #cccccc;
}


.dino-fit {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
*/