

.dc-advanced-input {
	border: 1px solid #aaaaaa;
}

.dino-css-button {
	cursor: pointer;
}

.dc-assist-file {
	position: relative;
	overflow: hidden;
}




/* Buttons */
.dino-button {
	position: relative;
	padding: 0;
}

.dino-button-text-none {
	text-indent: -10000000px;
}

.dino-button-text-icon {
	margin-left: 16px;
}


.dino-button-icon-only {
/*	left: 50%;
	top: 50%;
*/	
/*	margin-left: -8px;
	margin-top: 0px;*/
}

.dino-button-icon-text {
	position: absolute;
}


.dino-icon {
	position: absolute;
}

.dino-icon-16 {
	width: 16px;
	height: 16px;
}


/*.dino-toolbar .dino-button { display: inline-block; margin: 0 2px 0 2px; }*/

.dino-toolbar-h .dino-toolbar-item { display: inline-block; }
.dino-toolbar-v .dino-toolbar-item { display: block; }


.dino-grid {
	
}

.dino-grid-body {
	text-align: center;
}

.dino-grid-head {
	background-color: #f0f0f0;
}

.dino-grid-head th {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.dino-grid-row td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.dino-grid-row:hover {
	background-color: #fcfcfc;
}




.dino-tabs {
	height: 25px;
	position: relative;
	border-bottom: 1px solid #aaaaaa;
	margin: 0;
	padding: 0;
}

.dino-tabs li {
/*	width: 100px;*/
	padding: 0 20px;
	margin-right: 2px;
	float: left;
	text-align: center;
	height: 24px;
	cursor: pointer;
	border-bottom: 0 !important;
	list-style: none outside none;
}

.dino-tab-button-active {
	height: 25px !important;
}

.dino-tab-content {
	position: relative;
/*	height: 200px;*/
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}





.dino-dropdown {
	position: absolute;
	display: none;
	background-color: white;
/*	padding: 2px 5px;*/
	border: 1px solid #aaaaaa;
}



.dino-text {
}
