
@import "ergojs-widgets.less";







//----------------------------------------
// FORM
//----------------------------------------

[layout="form"] > div {
	margin-bottom: @box-indent;
}

[layout="form"] > div > label {
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
	display: block;
}




//----------------------------------------
// HBOX
//----------------------------------------

[layout="hbox"] > * {
	display: inline-block;
	vertical-align: middle;
}


[layout="hbox"] {

	&.item-align-right, &.__right {
		text-align: right;
	}

	&.item-align-center, &.__center {
		text-align: center;
	}

	&.item-align-left, &.__left {
		text-align: left;
	}

}




//----------------------------------------
// VBOX
//----------------------------------------

[layout="vbox"] > * {
	display: block;
}




//----------------------------------------
// COLUMN
//----------------------------------------

[layout="columns"] {

	display: table;
	width: 100%;

	> * {
		display: table-cell;
		vertical-align: middle;
	}

	&.items-align-top > *, &.__top > * {
		vertical-align: top;
	}

	&.items-align-middle > *, &.__middle > * {
		vertical-align: middle;
	}

	&.items-align-bottom > *, &.__bottom > * {
		vertical-align: bottom;
	}

}





//----------------------------------------
// ROW
//----------------------------------------

[layout="rows"] {
}

[layout="rows"] > * {
	display: block;
}




//----------------------------------------
// GRID
//----------------------------------------


[layout="grid"] {
	display: table;
	width: 100%;
}

[layout="grid"] > div {
	float: left;
}


.col-1 { width: 8.3333%; }
.col-2 { width: 16.6666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3333%; }
.col-5 { width: 41.6666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3333%; }
.col-8 { width: 66.6666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }



//----------------------------------------
// FLUID
//----------------------------------------

[layout="fluid"] > * {
	float: left;

	&.align-right, &.right {
		float: right;
	}

	&.align-left, &.left {
		float: left;
	}

}


//----------------------------------------
// FLEX
//----------------------------------------

[layout="flex"] {
	display: flex;


	&.items-top > *, &.__top > * {
		align-items: flex-start;
	}

	&.items-middle > *, &.__middle > * {
		align-items: center;
	}

	&.items-bottom > *, &.__bottom > * {
		align-items: flex-end;
	}

}




//----------------------------------------
// TILES
//----------------------------------------

[layout="tiles"] {
	
	> * {
		float: left;
	}

	&.two > * { width: 50%; }
	&.three > * { width: 33.3333%; }
	&.four > * { width: 25%; }
	&.five > * { width: 20%; }
	&.six > * { width: 16.6666%; }
	&.seven > * { width: 14.2857%; }
	&.eight > * { width: 12.5%; }

}