
@box-indent:  0.5714rem;



//@border-color-danger: #a94442;
//@border-color-danger-focus: #843534;
//@shadow-color-danger: #ce8483;
//@bg-color-danger: #f2dede;



@border: 1px solid #ccc;
@border-radius: 3px;

@border-color: #ccc;

@focus-color: #66afe9;

@text-color: #444;

@select-color: #0288d1;//#1e88e5; //#0A80CB

@divider-color: #ddd;

@hover-color: #f4f4f4; //#fffff0;

@stripe-color: #f8f8f8;

@muted-color: #bbb;

@disabled-color: #ddd;

@hover-color-2: #fffff0;



@select-bg: rgba(2, 136, 209, .7);



@basic: #cccccc;
@primary: #0277bd;
@success: #4caf50;//#66bb6a;
@info: #81d4fa;
@warning: #ffc107;
@danger: #ef5350;

@dark: #37474f;







@red: #f44336;
@pink: #e91e63;
@purple: #9c27b0;
@deep-purple: #673ab7;
@indigo: #3f51b5;
@blue: #2196f3;
@light-blue: #03a9f4;
@cyan: #00bcd4;
@teal: #009688;
@green: #4caf50;
@light-green: #8bc34a;
@lime: #cddc39;
@yellow: #fdd835; //#ffeb3b;//#ffc107;
@amber: #ffc107;
@orange: #ff9800;
@deep-orange: #ff5722;
@brown: #795548;
@grey: #9e9e9e;
@blue-grey: #607d8b;

@white: #ffffff;
@black: #000000;






/*

red
pink
purple
deep-purple
indigo
blue
light-blue
cyan
teal
green
light-green
lime
yellow
amber
orange
deep-orange
brown
grey
blue-grey

black

*/







/*
.danger {
	border-color: #d43f3a;
	color: #d43f3a;
}
*/