

/*
 * WINDOW LAYOUT
 */

[layout='window'] {
/*	position: static;
	display: none;
*/
	display: none;
	position: absolute;
	z-index: 1100;
	background-color: #fff;
	left: 50%;
	top: 50%;	
}

[layout='window'] > .dino-window-content {
	height: 100%;
}



[layout='window'] > .dino-overlay {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
}	

[layout='window'] > .dino-window {
	position: absolute;
	z-index: 1100;
	background-color: #fff;
	left: 50%;
	top: 50%;
}




/*
 * DOCK LAYOUT
 */ 

[layout='dock'] {
	position: relative;
}

.dock-left-top, .dock-left-center, .dock-left-bottom, .dock-right-top, .dock-right-center, .dock-right-bottom {
	position: absolute;
}

[dock] {
	position: absolute;	
}

[dock|="left"] {
	left: 0;	
}

[dock|="right"] {
	right: 0;	
}

[dock$="center"] {
	top: 50%;
}

[dock|="center"] {
	left: 50%;
}

[dock$="bottom"] {
	bottom: 0;
}
 
 
 
 
/*
 * 3C LAYOUT
 */ 
 
 
.dino-3c-layout {
	position: relative;
/*	width: 100%;*/
}

.dino-3c-left, .dino-3c-right { 
	position: absolute; 
}

.dino-3c-left {
	left: 0;
	top: 0;
}
.dino-3c-right { 
	right: 0;
	top: 0;
}
.dino-3c-center {
}



/*
 * COLUMN LAYOUT
 */

/*
[layout='column'] {
	display: table;
	width: 100%;
}


[layout='column'] > div {
	display: table-row;
}


[layout='column'] > div > div {
	display: table-cell;
	height: 100%;
	vertical-align: top;
}
*/


/*
 * FLOAT LAYOUT
 */

.float-item {
	float: left;
}


/*
 * FORM LAYOUT
 */

[layout='form'] td.label {
	text-align: right;
}


[layout='simple-form'] > .dino-form-item-wrapper > label {
	display: block;
}
 
 
 
/*
 * BORDER LAYOUT
 */ 
 
.resizable-west, .resizable-east {
	cursor: col-resize;
}

.resizable-north, .resizable-south {
	cursor: row-resize;
}


.split-pane {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}


[layout='border'] {
	position: relative;
}

[layout='border'] > div {
	position: absolute;
/*	overflow: auto;*/
}

[region='center'] {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

[region='west'] {
	left: 0;
	top: 0;
	bottom: 0;
}

[region='west-splitter'] {
	top: 0;
	bottom: 0;
	width: 4px;
}

[region='east'] {
	right: 0;
	top: 0;
	bottom: 0;
}

[region='east-splitter'] {
	top: 0;
	bottom: 0;
	width: 4px;
}

[region='west-splitter']:hover, [region='east-splitter']:hover {
	cursor: col-resize;	
}


[region='north'] {
	top: 0;
	left: 0;
	right: 0;
}

[region='north-splitter'] {
	left: 0;
	right: 0;
	height: 4px;
}


[region='south'] {
	bottom: 0;
	left: 0;
	right: 0;
}

[region='south-splitter'] {
	left: 0;
	right: 0;
	height: 4px;
}


[region='north-splitter']:hover, [region='south-splitter']:hover {
	cursor: row-resize;	
}

[region$='splitter'].active {
	background-color: #aaa;
	z-index: 9999;	
}

[region='middle'] {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}

[region='middle'] > div {
	position: absolute;
}



/**
 * HBOX LAYOUT
 */

[layout='hbox'] > * {
	display: inline-block;
	vertical-align: middle;
}


 