

/*
 * TREE
 */

.ergo-tree {
	white-space: nowrap;
	overflow: auto;
}

.ergo-tree ul {
	margin: 0;
	padding-left: 20px;
}

.ergo-tree-node {
	list-style: none outside none;
	position: relative;
}

.ergo-tree-node-button {
/*	position: absolute;
	top: 0;*/	
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.ergo-tree-node-button.leaf {
	visibility: hidden;
}

/*
.ergo-tree-node.collapsed > ul {
	display: none;
}
*/

.ergo-tree-node-content {
	margin-left: 3px;
	display: inline-block;
}


.ergo-basic-tree-node > .tree-list-item .ergo-tree-node-content:hover {
	color: #666;
}


.ergo-basic-tree-node.selected > .tree-list-item .ergo-tree-node-content {
/*	background-color: #bdf;*/
	background-color: #ffc;
}

/*
.ergo-tree-node.selected > .ergo-tree-node-content {
	color: #11f;
}
*/

