
.header.box {
	margin-top: 0.2857rem;
	margin-bottom: 0.5714rem;
	padding-bottom: 0.2857rem;
}




.header.box > img {
	height: 64px;
	width: auto;
	vertical-align: middle;
	margin-right: 12px;
	display: inline-block;
}

.header.box > i.icon {
//	font-size: 40px;
	font-size: 1.5em;
	vertical-align: middle;
	margin-right: 12px;
	display: inline-block;	
}



.sub.header {
	font-size: 0.7143em;
	font-weight: 400;
}







h1.header, .header.huge {
	font-size: 2rem;
}



h2.header, .header.large {
	font-size: 1.714rem;
}



h3.header, .medium.header {
	font-size: 1.286rem;
	// > .icon {
	// 	font-size: 2.429rem;
	// }
	.sub-header {
		font-size: 1rem;
//		line-height: 1;
	}
}


h4.header, .small.header {
	font-size: 1.143rem;
//	margin-bottom: 0.5714rem;
	// > .icon {
	// 	font-size: 2.429rem;
	// }
	.sub-header {
		font-size: 1rem;
//		line-height: 1;
	}
}


h5.header, .tiny.header {
	font-size: 1rem;
//	margin-bottom: 0.5714rem;
	// > .icon {
	// 	font-size: 2.429rem;
	// }
	.sub-header {
		font-size:  0.9286rem;
//		line-height: 1;
	}
}




.header {

	margin: 0;

	&.lite {
		font-weight: 400;
	}

	&.muted {
		color: @muted-color;
	}


//	.mix-text-types();





}





.header > span {
	vertical-align: middle;
	display: inline-block;
}

.header .sub-header {
	font-weight: normal;
//	font-size: 14px;
	display: block;
	color: #888;
}


.header.disabled, .disabled .header {
	color: #ccc;
}


.header.divided {
//	padding-bottom: 0.2857rem;
	border-bottom: 1px solid #ccc;
}











