


.list {
	list-style: none;
//	padding-left: 0;
	margin: 0;
}



.list.indented > * + *, .list.items-indent > * + * {
	margin-top: @box-indent;
	margin-left: 0;
}


.list.divided > * + * {
	border-top: 1px solid @divider-color;
	border-left: none;
}


.list.padded > *, .list.items-padding > * {
	padding: @box-indent 0;
}