

.has-sidebar {

	position: relative;

	&.at-left > .content {
		margin-left: 240px;
//		position: relative;
	}



	&.large {
		> .sidebar { width: 240px; }
		> .content { margin-left: 240px; }
	}
	&.medium {
		> .sidebar { width: 200px; }
		> .content { margin-left: 200px; }
	}
	&.small {
		> .sidebar { width: 160px; }
		> .content { margin-left: 160px; }
	}

}



.sidebar {
	width: 240px;
	position: absolute;
	height: 100%;

	> .header {	
		padding: 1rem;
		margin: 0
	}

	&.left.divided {
		border-right: 1px solid #eee;
	}


	&.large {
		width: 240px;

		> .header {	
			padding: 1.143rem;
		}
	}
}

