


.border-all {
	border: 1px solid #ccc;
}


.widget-item {
	color: #fff;
	font-weight: bold;
	font-size: 9pt;
}

.widget-item.green {
	background-color: green;
}

.widget-item.red {
	background-color: red;
}

.widget-item.blue {
	background-color: blue;
}


.binding-list span{
	
}


.panel-content {
	padding: 10px;
}


.loader {
	background: url('../img/ajax-loader.gif') 50% 50%;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
}

.tree-icon {
	background: url('images/accordeon_arrow_right.png');
}

.expanded > .tree-icon {
	background: url('images/accordeon_arrow_bottom.png');
}

.leaf > .tree-icon {
	display: none;
}





