@base-background: #2c2c2c;
@base-color: #727272;
@form-color: #626262;
@common-padding: 20px;
@separator-color:#e3e3e3;
//ergo-ui 
@e-panel-bg : #f3f3f3;
@e-panel-radius : 5px;
//ergo form
@e-form-text-size:1.2em;
@e-form-radius:0 3px 3px 3px;
@e-form-width:400px;
@e-form-margin: 10px;
//ergo form labels
@e-label-radius: 3px 3px 0 0;
@e-label-top-color: #8cb20a;
@e-label-bottom-color: #679908;
@e-label-text-shadow-color: @e-label-bottom-color - #262903;
//ergo error form labels
@e-label-err-bottom-color: #d6451b;
@e-label-err-top-color: #e44e14;
@e-label-err-text-shadow-color: @e-label-err-bottom-color - #262903;
//select form 
@e-select-radius:5px;
@e-selec-arrow-color:#a9a9a9;
//calendar
@e-small-radius:3px;
@e-smaller-radius:2px;
//radio button
@e-radio-radius:10px;
// checkbox
@e-check-box-radius:3px;

//resets and common classes
* { margin: 0;padding: 0;}
header, nav, section, article, aside, footer {display: block;}
input, textarea {outline:none;}
.unselect {-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.left { float:left;}
.right {float:right;}
.clearfix {clear:both}



/* Content
-----------------------------------------------------------------------------*/
body {
  font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
  background: @base-background url(images/BaseBackground.png);
  background-repeat:repeat-y;
  color: @base-color;
  line-height:auto;
}
#middle {
  width: 100%;
  height: 1%;
  position: relative;
}
#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#container {
  width: 100%;
  float: left;
  overflow: hidden;
}
#content {
  padding: 20px 0 400px 180px;
  
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
  float: left;
  width: 100px;
  margin-left: -100%;
  position: relative;
  padding:20px;
}
.logo a{
  width:101px;
  height:43px;
  display:block;
  background:url(images/logo.png);
}
.e-pannel {
  background:@e-panel-bg;
  width:750px - @common-padding;
  padding: @common-padding;
  -webkit-border-radius: @e-panel-radius;
  -moz-border-radius: @e-panel-radius;
  border-radius: @e-panel-radius;
   margin:0 0 40px 0;
}

.e-field {
  margin:0 0 40px 0;
  width:@e-form-width;

}
.e-field-content {
  background:#efefef;
  background:#dfdfdf \9;
  -webkit-border-radius: @e-form-radius;
  -moz-border-radius: @e-form-radius;
  border-radius: @e-form-radius;
  border: 1px solid #f8f8f8;
  -webkit-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  -moz-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  position:relative;
  clear:both;
  zoom:1;
  padding:0 5px 3px 0px \9;
  z-index:80;
}

//on focus

.e-field.focus >.e-field-content{
  border:1px solid @e-label-bottom-color;
}
.e-field.focus >.e-field-label{
  border-left:1px solid @e-label-bottom-color;
  left:0px \9;
}


//error
.e-field.error > .e-field-content {
  border:1px solid @e-label-err-bottom-color;
}
.e-field.error >.e-field-label{
  border-left:1px solid @e-label-err-bottom-color;
  left:0px \9;
  background: @e-label-err-bottom-color; /* Old browsers */
  background: -moz-linear-gradient(top, @e-label-err-top-color 0%, @e-label-err-bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@e-label-err-top-color), color-stop(100%,@e-label-err-bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,@e-label-err-top-color 0%,@e-label-err-bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @e-label-err-top-color 0%,@e-label-err-bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @e-label-err-top-color 0%,@e-label-err-bottom-color 100%); /* IE10+ */
  background: linear-gradient(top, @e-label-err-top-color 0%,@e-label-err-bottom-color 100%); /* W3C */
  //-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='@e-label-err-top-color', endColorstr='@e-label-err-bottom-color',GradientType=0 )"; /* IE6-8 */
  text-shadow:0px 1px 0px @e-label-err-text-shadow-color; 
}
// inputs and textareas
.e-element-wrapper {
  background:#efefef\9;
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2,MakeShadow=false,ShadowOpacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=2,MakeShadow=false,ShadowOpacity=1)";
  padding-left:10px;
  padding-right: .5em;
  position:relative;
}
.e-field-content input::-webkit-input-placeholder, .e-field-content textarea::-webkit-input-placeholder, .e-field-content input:-moz-placeholder {
  color:#c0bfbf;
}
.e-field-content input:-moz-placeholder,.e-field-content textarea:-moz-placeholder {
   color:#c0bfbf;
 }

.e-field-content input, .e-field-content textarea  {
  background: transparent;
  border: 0;
  width: 100%;
  font-size: @e-form-text-size;
  padding: @e-form-margin 0  @e-form-margin 0;
  color:@form-color;
  font-family:Arial;
  resize: none;
  overflow:hidden;
  position:relative;
   
 
}
.e-field-content textarea {
  min-height:120px;
}
//form labels
.e-field-label {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  -webkit-border-radius: @e-label-radius;
  -moz-border-radius: @e-label-radius;
  border-radius: @e-label-radius;
  float: left;
  background: @e-label-top-color; /* Old browsers */
  background: -moz-linear-gradient(top, @e-label-top-color 0%, @e-label-bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@e-label-top-color), color-stop(100%,@e-label-bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,@e-label-top-color 0%,@e-label-bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* IE10+ */
  background: linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* W3C */
  //-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='@e-label-top-color', endColorstr='@e-label-bottom-color',GradientType=0 )"; /* IE6-8 */
 text-shadow:0px 1px 0px @e-label-text-shadow-color; 
  color: #fff;
  padding: 2px 15px;
  display: block;
  position: relative;
  top: 1px;
  left: 1px \9;
  z-index: 100;
  border-left: 1px solid @e-panel-bg;
  border-left: 1px solid #679908 \9;
}

//Selector
.e-select {
  margin:1px;
  border:1px solid #dcdcdc;
  position:relative;
  overflow:hidden;
  -webkit-border-radius: @e-form-radius;
  -moz-border-radius: @e-form-radius;
  -moz-border-radius:0 \9;
  border-radius: @e-form-radius;
  width:@e-form-width - 6px;
  background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
  cursor:pointer;
  font-size:@e-form-text-size;

}
.e-current-select {
  overflow:hidden;
  white-space:nowrap;
  float:left;
   padding:10px 10px 10px 10px;
}
.e-select-arrow {
  float:right;
  border-left:1px solid @separator-color;

}

//select arrows
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid @e-selec-arrow-color;
  position:relative;
  margin:15px 10px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid @e-selec-arrow-color;
  position:relative;
    margin:15px 10px;
}

.arrow-left{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right:8px solid @e-selec-arrow-color;
  position:relative;
  margin:10px 12px;
}
.arrow-right{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-left:8px solid @e-selec-arrow-color;
  position:relative;
  margin:10px 12px;
}
//drop-down select list
.e-select-droplist {
  position: relative;
  top: @e-form-margin  + @e-form-text-size;
  width: @e-form-width - 4px;
  left:1px;
  display:block;
  z-index:1000;
   -webkit-border-radius: @e-select-radius;
   margin-left:-10px;
   border-radius: @e-select-radius;
  -moz-border-radius: @e-select-radius;
  -moz-border-radius:0 \9;
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
  -webkit-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  behavior:url(ie-css3.htc);
  //shadow.userAttrs.radius +',makeShadow=true,shadowOpacity=0.2)'; in HTC
}
.e-select-droplist ul {
  list-style:none;
  padding-bottom:5px;
}
.e-select-droplist ul li {
  border-bottom:1px solid @separator-color;
  padding: @e-form-margin;
  display:block;
  cursor:pointer;
  
}
.e-select-droplist ul li:last-child {
  border-bottom:0;
}
.e-select-droplist ul li:hover {
  background:#f9f9f9;
  color:#626262;
}

//drop-down calendar 
.e-select-calendar {
  position: relative;
  top: @e-form-margin  + @e-form-text-size;
  width: 200px;
  left:1px;
  display:block;
  z-index:1000;
   -webkit-border-radius: @e-select-radius;
   border-radius: @e-select-radius;
  -moz-border-radius: @e-select-radius;
  -moz-border-radius:0 \9;
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
  -webkit-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.2);
  behavior:url(ie-css3.htc);
  //shadow.userAttrs.radius +',makeShadow=true,shadowOpacity=0.2)'; in HTC
}
.e-calendar-title {
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  -webkit-border-radius: @e-label-radius;
  -moz-border-radius: @e-label-radius;
  border-radius: @e-label-radius;
  padding:5px;
  color:#fff;
  background: @e-label-top-color; /* Old browsers */
  background: -moz-linear-gradient(top, @e-label-top-color 0%, @e-label-bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@e-label-top-color), color-stop(100%,@e-label-bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,@e-label-top-color 0%,@e-label-bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* IE10+ */
  background: linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* W3C */
  text-shadow:0px 1px 0px @e-label-text-shadow-color; 
  position:relative;
  overflow:hidden;
  text-align:center;
 
}
.e-calendar-body {
  padding:5px;
   clear:both;
}

.e-calendar-days-name ul li {
  list-style:none;
  width:22px;
  margin:0 0 2px  0;
  border:1px solid #ebebeb;
  display:inline-block;
  background:#ebebeb;
  text-align:center;
 
}
.e-calendar-days ul li {
  list-style:none;
  width:22px;
  border:1px solid #ebebeb;
  display:inline-block;
  margin:2px 0 0 0;
  text-align:center;
  cursor:pointer;
   -webkit-border-radius: @e-select-radius;
   border-radius: @e-select-radius;
  -moz-border-radius: @e-select-radius;
  -moz-border-radius:0 \9;
}
.e-calendar-days ul li:hover {
  color:#fff;
  background: @e-label-top-color; /* Old browsers */
  background: -moz-linear-gradient(top, @e-label-top-color 0%, @e-label-bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@e-label-top-color), color-stop(100%,@e-label-bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,@e-label-top-color 0%,@e-label-bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* IE10+ */
  background: linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* W3C */
  text-shadow:0px 1px 0px @e-label-text-shadow-color;
}
.e-calendar-nav-holder {
  display:block;
  border:1px solid @e-label-top-color;
  background:@e-label-text-shadow-color;
  -webkit-border-radius: @e-small-radius;
   border-radius: @e-small-radius;
  -moz-border-radius: @e-small-radius;
  -moz-border-radius:0 \9;
  overflow:hidden;
  
  
}
.e-calendar-nav {
  margin:1px;
  display:block;
  border:1px solid @e-label-top-color;
  color:#fff;
  background: @e-label-top-color; /* Old browsers */
  background: -moz-linear-gradient(top, @e-label-top-color 0%, @e-label-bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@e-label-top-color), color-stop(100%,@e-label-bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,@e-label-top-color 0%,@e-label-bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* IE10+ */
  background: linear-gradient(top, @e-label-top-color 0%,@e-label-bottom-color 100%); /* W3C */
  -webkit-border-radius: @e-smaller-radius;
   border-radius: @e-smaller-radius;
  -moz-border-radius: @e-smaller-radius;
  -moz-border-radius:0 \9;
  cursor:pointer;
  padding:2px 7px;
  position:relative;
 
}
.e-calendar-nav:hover {
  position:relative;

}
.e-calendar-nav:active {
  position:relative;
  top:1px;
  border-bottom:1px solid @e-label-text-shadow-color;
 
}
.e-calendar-nav-arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid #fff;
}
.e-calendar-nav-arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-left: 5px solid #fff;
}

//radio buttons 
.e-radio-box {
  width:16px;
  height:16px;
  display:inline-block;
  background:#efefef;
 -webkit-border-radius: @e-radio-radius;
   border-radius: @e-radio-radius;
  -moz-border-radius: @e-radio-radius;
  border:1px solid #d7d7d7;
   -webkit-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  -moz-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  line-height:20px;
  margin:15px 0 0 0;
}
.e-radio-box > .e-checker {
  width:8px;
  height:8px;
  display:inline-block;
  background: @e-label-top-color;
  -webkit-border-radius: @e-radio-radius;
  border-radius: @e-radio-radius;
  -moz-border-radius: @e-radio-radius;
  border:1px solid @e-label-bottom-color;
  margin:3px;
  cursor:pointer;
}

.e-radio-label {
  display:inline-block;
  margin:0 0 0 15px;
}
//checkbox
.e-check-box{
  width:16px;
  height:16px;
  display:inline-block;
  background:#efefef;
 -webkit-border-radius: @e-check-box-radius;
   border-radius: @e-check-box-radius;
  -moz-border-radius: @e-check-box-radius;
  border:1px solid #d7d7d7;
   -webkit-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  -moz-box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  box-shadow: inset 0px -1px 3px 2px rgba(197, 197, 197, 0.30);
  line-height:20px;
  margin:15px 0 0 0;
}
.e-check-box > .e-checker{
  color: @e-check-box-radius;
  background:url(../img/e-checker.png);
  background-repeat:no-repeat;
  display:inline-block;
  width:16px;
  height:16px;
  top:-3px;
  left:4px;
  cursor:pointer;

}
.e-radio-label {
  display:inline-block;
  margin:0 0 0 15px;
}
//layouts variation



//icons 16
@e-icon-size:16px;
@e-icons-path: "../img/icons-@{e-icon-size}";

.e-icon {
  width:@e-icon-size;
  height:@e-icon-size;
  display:block;
  background-repeat:no-repeat;
}
.e-icon-folder { background:url("@{e-icons-path}/e-ico-folder.png")}
.e-icon-tag { background:url("@{e-icons-path}/e-ico-tag.png")}
.e-icon-info { background:url("@{e-icons-path}/e-ico-info.png")}
[layout='hbox'] > * {
  display:inline-block;
  vertical-align:middle;
 }