
body {
	font-family: Helvetica,Geneva,Arial,sans-serif;
	margin: 0;
	padding: 3px;
	background-color: #eee;
}

body input {
	font-family: Helvetica,Geneva,Arial,sans-serif;
}


#logo {
	height: 56px;
	font-size: 2.2em;
	color: #fff;
/*	color: #39629c;*/
	text-shadow: 1px 1px 3px #666;
	font-family: "Times New Roman", Times, serif;
}


#main-toolbar {
	height: 24px;
	margin-bottom: 5px;
}




.logo-icon {
	background-image: url(../img/logo.png);
	margin: 4px;
}


.dino-split-bar {
	cursor: col-resize;
}

.dino-split-bar:hover {
	background-color: #eee;
}


.event-pane {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}


.dino-tree-node.collapsed .icon-folder {
	background-image: url(../img/gnome-fs-directory.png);
}

/*
.sample-icon-folder-open {
	background-image: url(../img/gnome-fs-directory-accept.png);
}
*/
.dino-tree-node.expanded .icon-folder {
	background-image: url(../img/gnome-fs-directory-accept.png);	
}



/*
.dino-header-button {
	padding: 0;
	border: 1px solid transparent;
	margin-right: 3px;
	background-color: transparent;
}
*/

.dino-header-button:hover {
	border: 1px solid #aaa;
}



