


.clearfix { zoom: 1 }
.clearfix:after {
	content: ' ';
	clear:both;
	display: block;
	width: 0; height: 0;
	overflow: hidden;
	font-size: 0;
}


.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/* button padding fix for FF */
button::-moz-focus-inner { 
	border: 0;
	padding: 0;
}


button {
	position: relative;
	padding: 3px 3px;
}

p {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}



.hidden {
	display: none !important;
}

.nowrap {
	white-space: nowrap;
	overflow: hidden;
/*	position: relative;*/
}


.dino-center-align {
	display: block;
	margin: 0 auto;
}

/*
.dino-glass-pane {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}
*/




