@import './bulma/styles';

$fa-font-path : "~node_modules/@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
}

#root {
  height: 100%;  
}

.app {
  height: 100%;
  overflow-y: auto;
}



.collapse-box {
  max-width: 400px;
}

.collapse-item {
  max-height: 100px;
  overflow: hidden;

  > .notification {
    max-height: 88px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.collapse {
  max-height: 0;
  transition: max-height 1s;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.fade-leave /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 1;
}


/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}


.flip-list-move {
  transition: transform 1s;
}


.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active/*, .list-complete-enter-active*/ {
  position: absolute;
//  transition: transform 1s;
}

.list-complete-enter-to {
//  position: absolute;
}

.list-complete-leave-active {
//  position: absolute;
}

.list-complete-move {
//  transition: transform 1s;
}


.input-box {
  position: relative;
  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    color: #ccc;
    padding-top: 0.375em;
    padding-left: 0.625em;
  }
  .input {
    background: none;
  }
}




.dropdown-content {
  padding: 0;
  overflow: auto;
  max-height: 200px;
}

.dropdown-placeholder {
  color: #ccc;
}

.dropdown-select {
  .dropdown-icon {
    color: #ccc;
  }
  .dropdown-trigger:hover {
    .dropdown-icon {
      color: $link-active-border;
    }
  }

  &.is-active {
    .dropdown-icon {
      color: $link-active-border;
    }
  }
}

.dropdown-input {

  .dropdown-trigger:hover {
    .dropdown-icon {
      color: $link-active-border;
    }
  }

}


.input-box {
  &.has-icons-left {
    input {
      padding-left: 2.25rem;
    }
    .icon {
      color: #dbdbdb;
      height: 2.25em;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 2.25em;
      z-index: 4;

      &.is-left {
        left: 0;
      }
    }
  }
}


.svg-polygon-example {
  svg { display: block; }
  polygon { fill: #41B883; }
  circle {
    fill: transparent;
    stroke: #35495E;
  }
  input[type="range"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

}


.code-panel {
  pre {
    font-size: 0.8em;
    margin: 0;

    .number {
      font-size: inherit;
      margin-right: 0;
      padding: 0;
      height: inherit;
      min-width: inherit;
    }
  }
  // position: fixed;
  // right: 0;
  // min-width: 400px;
}


.example-header {
  > .level-item {
    justify-content: flex-start;
  }
}

.example-title {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  h4 {
    font-size: 1.33em;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
  }
}

// .dropdown {
//   &.is-active {
//     .dropdown-overlay {
// //      background-color: rgba(0,0,0,0.1);
//       position: fixed;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//     }
//   }
// }


// .dropdown-content {
//   &.is-hovered {
//     .dropdown-item:hover {
//       background-color: rgba(0,0,0, 0.06)
//     }
//   }
// }
