
.led-icon {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.led-icon-cross { background-image: url(icons/cross.png); }
.led-icon-add { background-image: url(icons/add.png); }
.led-icon-smile { background-image: url(icons/emoticon_smile.png); }
.led-icon-unhappy { background-image: url(icons/emoticon_unhappy.png); }
.led-icon-buildings { background-image: url(icons/buildings.png); }
.led-icon-photo { background-image: url(icons/photo.png); }
.led-icon-photos { background-image: url(icons/photos.png); }
.led-icon-asterisk { background-image: url(icons/asterisk_orange.png); }
.led-icon-pill { background-image: url(icons/pill.png); }
.led-icon-page { background-image: url(icons/page.png); }
.led-icon-page-code { background-image: url(icons/page_code.png); }
.led-icon-page-white-gear { background-image: url(icons/page_white_gear.png); }
.led-icon-page-white-edit { background-image: url(icons/page_white_edit.png); }
.led-icon-male { background-image: url(icons/male.png); }
.led-icon-female { background-image: url(icons/female.png); }
.led-icon-vcard { background-image: url(icons/vcard.png); }
.led-icon-book { background-image: url(icons/book.png); }
.led-icon-tag { background-image: url(icons/tag_blue.png); }
.led-icon-accept { background-image: url(icons/accept.png); }
.led-icon-calendar_1 { background-image: url(icons/calendar_1.png); }
.led-icon-cancel { background-image: url(icons/cancel.png); }
.led-icon-delete { background-image: url(icons/delete.png); }
.led-icon-drive { background-image: url(icons/drive.png); }
.led-icon-databases { background-image: url(icons/databases.png); }
.led-icon-computer { background-image: url(icons/computer.png); }
.led-icon-folder { background-image: url(icons/folder.png); }
.led-icon-user { background-image: url(icons/user.png); }
.led-icon-door { background-image: url(icons/door.png); }
.led-icon-brick { background-image: url(icons/brick.png); }
.led-icon-books { background-image: url(icons/books.png); }
.led-icon-pipette { background-image: url(icons/pipette.png); }
.led-icon-sitemap { background-image: url(icons/sitemap.png); }
.led-icon-package { background-image: url(icons/package.png); }
.led-icon-chart-organization { background-image: url(icons/chart_organisation.png); }
.led-icon-group { background-image: url(icons/group.png); }
.led-icon-cog { background-image: url(icons/cog.png); }
.led-icon-pencil { background-image: url(icons/pencil.png); }
.led-icon-textfield { background-image: url(icons/textfield.png); }
.led-icon-text-list-numbers { background-image: url(icons/text_list_numbers.png); }
.led-icon-lock { background-image: url(icons/lock.png); }
.led-icon-error { background-image: url(icons/error.png); }
.led-icon-plug { background-image: url(icons/plug.png); }
.led-icon-disk { background-image: url(icons/disk.png); }
.led-icon-film { background-image: url(icons/film.png); }
.led-icon-find { background-image: url(icons/find.png); }
.led-icon-refresh { background-image: url(icons/arrow_refresh.png); }
.led-icon-control-start { background-image: url(icons/control_start.png); }
.led-icon-control-rewind { background-image: url(icons/control_rewind.png); }
.led-icon-control-play { background-image: url(icons/control_play.png); }
.led-icon-control-fastforward { background-image: url(icons/control_fastforward.png); }
.led-icon-control-backward { background-image: url(icons/control_backward.png); }
.led-icon-exclamation { background-image: url(icons/exclamation.png); }
.led-icon-world { background-image: url(icons/world.png); }
.led-icon-hammer { background-image: url(icons/hammer.png); }
.led-icon-bug { background-image: url(icons/bug.png); }
.led-icon-new { background-image: url(icons/new.png); }
