


/*
 * GRID
 */

.dino-grid {
	
}

/*
.dino-grid-body {
	text-align: center;
}
*/

.dino-grid-header {
/*	background-color: #f0f0f0;*/
/*	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;*/
	background-color: #ddd;
/*	overflow-x: hidden;*/
}

.dino-grid-content {
	background-color: #fff;
/*	padding-right: 18px;  /* отступ для скролла */
}

.dino-grid-content.scrollable {
/*	padding-right: 18px;  /* отступ для скролла */
	overflow-y: auto;
}



.dino-grid-row {
	cursor: default;
	font-size: 9pt;
	height: 19px;	
}

.dino-grid-row:hover {
	background-color: #f4f4f4;/*#eee;*/
}

.dino-grid-row.selected {
	background-color: #ffc;
}




.dino-grid-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 0;
}
	
.dino-grid-h-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #444;
	font-size: 9pt;
	text-shadow: 1px 1px 1px #fff;
}






.dino-icon-column {
	width: 16px;
	text-align: center;
}

.dino-numeric-column {
	text-align: right;
}

.dino-default-column {
	text-align: center;
}

.dino-text-column {
	text-align: left;
}

