

/*
 * COMBO FIELD
 */

.e-field {
	display: inline-block;
/*	line-height: 1px;*/
	font-size: 12px;
	background-color: #fff;
/*	padding: 1px;*/
}

.e-field > input {
	padding: 0;
	outline: none;
	margin: 0;
	border: none;
}

