

.e-list-box {
	background-color: #fff;
	overflow-y: auto;
}



.e-list-box > .e-list-item {
	display: block;
	padding: 0 3px;
}

.e-list-box > .e-list-item:hover {
	background-color: #f4f4f4;;
}

.e-list-box > .e-list-item.selected {
	background-color: #ffc;/*#bdf;*/
}

