

.e-list-view {
	background-color: #fff;
	overflow-y: auto;
}



.e-list-view > .e-list-item {
	display: block;
	padding: 0 3px;
}

.e-list-view > .e-list-item:hover {
	background-color: #f4f4f4;;
}

.e-list-view > .e-list-item.selected {
	background-color: #ffc;/*#bdf;*/
}

