

/*
 * LOADING
 */

.e-loading-overlay {
	background-color: #eee;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10001;
}	

.e-loading-message {
  left: 50%;
  margin-left: -57px;
  margin-top: -10px;
  position: absolute;
	background-color: #fff;
  top: 50%;
	border: 2px solid #ccc;
	padding: 3px 5px;
	z-index: 10002;
	
	font-size: 12px;
}


