

 
.ergo-3c-layout {
	position: relative;
/*	width: 100%;*/
}

.ergo-3c-left, .ergo-3c-right { 
	position: absolute; 
}

.ergo-3c-left {
	left: 0;
	top: 0;
}
.ergo-3c-right { 
	right: 0;
	top: 0;
}
.ergo-3c-center {
}

