

/*
 * DOCK LAYOUT
 */ 

[layout='dock'] {
	position: relative;
}

.dock-left-top, .dock-left-center, .dock-left-bottom, .dock-right-top, .dock-right-center, .dock-right-bottom {
	position: absolute;
}

[dock] {
	position: absolute;	
}

[dock|="left"] {
	left: 0;	
}

[dock|="right"] {
	right: 0;	
}

[dock$="center"] {
	top: 50%;
}

[dock|="center"] {
	left: 50%;
}

[dock$="bottom"] {
	bottom: 0;
}
 
 
