

/**
 * FORM LAYOUT
 */


[layout='form'] td.label {
	text-align: right;
	vertical-align: middle;
}

[layout='form'] tr {
	height: 35px;
}

[layout='form'] td.label label {
	margin-right: 5px;
}

[layout='form'] > .ergo-form-item-wrapper {
	padding: 3px;
}

[layout='form'] > .ergo-form-item-wrapper > label {
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}



/*
[layout='simple-form'] > .ergo-form-item-wrapper > label {
	display: block;
}
*/

[layout='simple-form'] > .ergo-form-item-wrapper {
	padding: 3px;
}




