

/*
 * WINDOW LAYOUT
 */

[layout='window'] {
/*	position: static;
	display: none;
*/
	display: none;
	position: absolute;
	z-index: 1100;
	background-color: #fff;
	left: 50%;
	top: 50%;	
}

[layout='window'] > .dino-window-content {
	height: 100%;
}



[layout='window'] > .dino-overlay {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
}	

[layout='window'] > .dino-window {
	position: absolute;
	z-index: 1100;
	background-color: #fff;
	left: 50%;
	top: 50%;
}

