


/*
 * PANEL
 */


.dino-panel-shadow {
	-moz-box-shadow: 0 0 .7em #aaa;
	-webkit-box-shadow: 0 0 .7em #aaa;
	box-shadow: 0 0 .7em #aaa;
}

.dino-panel {
/*	
	-moz-border-radius: 6px 6px 0 0; 
	-webkit-border-radius: 6px 6px 0 0; 
	border-radius: 6px 6px 0 0;
*/	
/*	border: 1px solid #aaa;*/
	background-color: #eee;
}


.dino-panel-header {
	padding: 3px 6px;
/*	
	-moz-border-radius: 6px 6px 0 0; 
	-webkit-border-radius: 6px 6px 0 0; 
	border-radius: 6px 6px 0 0;
*/	
	border-bottom: 1px solid #aaa;
	
	text-align:center;
	
	overflow: hidden;	
}

/*
.dino-panel-content {
	border: 1px solid #aaa;
	background-color: #eee;
	margin: 3px;
}
*/


.dino-header-button {
	border: 1px solid transparent;
	background-color: transparent;
	padding: 0;
}

/*
.dino-header-button:hover > .dino-icon {
	background-image: url(img/ui-icons_222222_256x240.png);
}
*/
