

/**
 * CONTROLS
 */

.e-control-list {
/*	background-color: #eee;*/
	padding: 3px;
}

.e-control-list > * {
	margin-right: 3px;
	vertical-align: middle;
}

.e-control-list.center {
	text-align: center;
}

.e-control-list.left {
	text-align: left;
}

.e-control-list.right {
	text-align: right;
}





