.fm-styled-panel {
 // background-color: #0A1116;
  
  
  .panel-header:before,
  .panel-header:after {
    display: table;
    height: 0;
    overflow: hidden;
    content: ' ';
    clear: both;
  }
  .panel-content,
  .panel-header {
    padding: 10px;
  }
}
