

button.plain {
	background-color: transparent;
	border: 1px solid transparent;
}

button.plain:hover {
	border: 1px solid #ccc;	
	background-color: #ddd;
}

button.plain.selected {
	background-color: #ccc;
}

button.plain.disabled {
	opacity: 0.3;	
}

button.plain.disabled:hover {
	border-color: transparent;	
	background-color: transparent;	
}


