

/*
 * ICON BUTTON
 */

.ergo-icon-button {
	border: 1px solid transparent;
	background-color: transparent;
	margin: 0;
}

.ergo-icon-button:hover {
	border-color: #ccc;	
	background-color: #e8e8e8;	
}

.ergo-icon-button.clicked {
	background-color: #ddd;	
}

.ergo-icon-button.disabled:hover {
	background-color: transparent;
	border: 1px solid transparent;
}

.ergo-icon-button.disabled > * {
	opacity: .3;
}

.ergo-icon-button.disabled.clicked {
	background-color: #eee;
}

