

/*
 * Icons 
 */

.e-icon {
	width: 16px;
	height: 16px;
/*	display: block;*/
	background-position: 50% 50%;
}

.icon16 .e-icon, .icon16.e-icon {
	width: 16px;
	height: 16px;
}

.icon24 .e-icon, .icon24.e-icon {
	width: 24px;
	height: 24px;
}

.icon32 .e-icon, .icon32.e-icon {
	width: 32px;
	height: 32px;
}

.icon48 .e-icon, .icon48.e-icon {
	width: 48px;
	height: 48px;
}


/*
[dock$=center][class~='e-icon']  {	margin-top: -8px; }
[dock^=center][class~='e-icon'] { 	margin-left: -8px; }
*/
.e-icon[dock$=center]  {	margin-top: -8px; }
.e-icon[dock^=center] { 	margin-left: -8px; }
.icon16 .e-icon[dock$=center], .icon16.e-icon[dock$=center]  {	margin-top: -8px; }
.icon16 .e-icon[dock^=center], .icon16.e-icon[dock^=center]  {	margin-left: -8px; }
.icon24 .e-icon[dock$=center], .icon24.e-icon[dock$=center]  {	margin-top: -12px; }
.icon24 .e-icon[dock^=center], .icon24.e-icon[dock^=center]  {	margin-left: -12px; }
.icon32 .e-icon[dock$=center], .icon32.e-icon[dock$=center]  {	margin-top: -16px; }
.icon32 .e-icon[dock^=center], .icon32.e-icon[dock^=center]  {	margin-left: -16px; }
