

/*
 * DIALOG
 */

.e-overlay {
	opacity: 0.4;
	background-color: black;
	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}	


.e-window {
/*	position: absolute;*/
	z-index: 1100;
	background-color: #fff;
/*	padding: 5px;*/
}



.e-dialog-shadow {
	-moz-box-shadow: 0 0 .7em #aaa;
	-webkit-box-shadow: 0 0 .7em #aaa;
	box-shadow: 0 0 .7em #aaa;
}

.e-dialog .e-window-content {
	border: 1px solid #aaa;
	background-color: #eee;
}

.e-dialog-header {
	padding: 3px 6px;
	
/*	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;*/
	border-bottom: 1px solid #aaa;
	
	text-shadow: 1px 1px 3px #ccc;
	color: #444;
	text-align:center;
	
	overflow: hidden;	
}

.e-dialog-content {
/*	border: 1px solid #aaa;*/
	margin: 3px;
}

.e-dialog-buttons {
	margin: 3px;	
}
