
.button-container {
	left: 20px;
	top: 20px;				
}

.button-container > * {
	display: block;
}




.menu {
	background-color: #eee;
}


.menu-item:hover {
	background-color: #ddd;
	cursor: default;
}





.left-checkbox {
	-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;
	border-width: 1px 0 1px 1px;
	border-color: #aaa;
}

.left-checkbox.selected {
	background: url(img/bg-active.png) 50% 50% #fff;
}

.right-checkbox {
	-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;
	border-width: 1px 1px 1px 0;
	border-color: #aaa;
}

.right-checkbox.selected {
	background: url(img/bg-active.png) 50% 50% #fff;
}

.right-checkbox.selected.off {
	background: url(img/bg-active-2.png) 50% 50% #fff;
}
