
.button-container {
	left: 20px;
	top: 20px;				
}

.button-container > * {
	display: block;
}




.menu {
	background-color: #eee;
}


.menu-item:hover {
	background-color: #ddd;
	cursor: default;
}
