
.group-title {
	padding-top: 5px;
	padding-left: 3px;
	border-bottom: 3px solid #bbb;
	color: #888;
	font-size: 14px;
}

/*
.group-row:hover {
	background-color: #ffc;
}	
*/
					
tr.group > td {
	border-bottom: 1px solid #bbb;
	color: #888;
	font-size: 12px;	
}
