
.tg-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px dotted #ccc;
	text-align: center;
}

.tg-row {
	cursor: default;
}

.tree-grid .indent {
/*	text-align: left;*/	
	padding-left: 20px;
}

.tg-header {
	border-right: 1px solid #ccc;
	border-bottom: 1px dotted #ccc;
	color: #444;
}

					
