/*
.grid-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
	
.grid-header-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #444;
	font-size: 10pt;
	text-shadow: 1px 1px 1px #fff;
}
*/					


.ergo-grid-h-cell.x-resizable {
	cursor: col-resize;
}



.ergo-grid-h-cell.selected.asc .ergo-icon-sort {
/*	background-image: url(img/sort-down.png);*/
	background: url(img/ui-icons_888888_256x240.png) -64px -16px;
}

.ergo-grid-h-cell.selected.desc .ergo-icon-sort {
	background: url(img/ui-icons_888888_256x240.png) 0px -16px;
}
