
.grid-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
	
.grid-header-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #444;
}
					
