
.preview {
	font-size: 10pt;
}


.tree-list ul {
	padding-left: 0px;
}


.indent {
	margin-left: 6px;
	cursor: default;
}


.dino-list-tree-node > .tree-list-item:hover {
	background-color: #f4f4f4;
}

.dino-list-tree-node.selected > .tree-list-item {
	background-color: #ffc;
}

.tree-list-item .dino-text-editor {
	margin: 2px 0;
}

.tree-list-item.dragover {
	color: #44f;
}
