

.preview {
	font-size: 10pt;
}

.tree-list ul {
	padding-left: 0px;
}


.indent {
	margin-left: 6px;
	cursor: default;
}


.dino-list-tree-node > .tree-list-item:hover {
	background-color: #f4f4f4;
}
