

/*
 * MENU
 */

.e-menu-item {
	position: relative;
	display: block;
	cursor: default;
	white-space: nowrap;
	font-size: 9pt;
	padding: 2px 18px 2px 10px;
}	

.e-menu-item:hover {
	background-color: #ddd;
}

.e-menu-item.disabled {
	opacity: .3;
}

.e-menu-item.disabled:hover {
	background-color: transparent;
}

.e-menu-dropdown {
	border: 1px solid #aaa;
	background-color: #eee;
	overflow-y: visible;
/*	z-index: 2000;*/
}

.e-menu-shadow {
	-moz-box-shadow: 1px 1px 3px #aaa;
	-webkit-box-shadow: 1px 1px 3px #aaa;
	box-shadow: 1px 1px 3px #aaa;		
}
