

.dino-border-all { border: 1px solid #aaa; }
.dino-border-bottom { border-bottom: 1px solid #aaa; }
.dino-border-top { border-top: 1px solid #aaa; }
.dino-border-left { border-left: 1px solid #aaa; }
.dino-border-right { border-right: 1px solid #aaa; }
.dino-border-no-right { border-right: none;}
.dino-border-no-bottom { border-bottom: none;}
.dino-border-no-top { border-top: none;}
.dino-border-none { border: none; }


.dino-corner-all {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.dino-corner-top {-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.dino-corner-bottom {-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.dino-corner-left {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.dino-corner-right {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}
.dino-corner-right-top {-moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; border-radius: 0 4px 0 0;}
.dino-corner-right-bottom {-moz-border-radius: 0 0 4px 0; -webkit-border-radius: 0 0 4px 0; border-radius: 0 0 4px 0;}



/*
 * Background
 */

.dino-bg-highlight { background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC; }
.dino-bg-1 { background: url(img/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-2 { background: url(img/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-3 { background: url(img/ui-bg_glass_75_dadada_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-4 { background: url(img/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-5 { background: url(img/ui-bg_glass_95_fef1ec_1x400.png) repeat-x scroll 50% 50% #fff; }



/*
 * HELPERS
 */
.dino-clickable { cursor: pointer; }

.dino-dropdown-shadow {
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
}

.dino-text-content {
	background-color: #fff;
	padding: 3px;
}





/*
.dino-icon-close { background-image: url(img/led/cross.png); }
.dino-icon-error { background-image: url(img/led/error.png); }
.dino-icon-info { background-image: url(img/led/exclamation.png); }
.dino-icon-warn { background-image: url(img/led/exclamation_octagon_fram.png); }
*/

.dino-icon-loader { background-image: url(img/ajax-loader.gif); }

.dino-icon-search { background-image: url(img/search.png); }

/* MESSAGEBOX ICONS */
.dino-icon-messagebox-critical { background-image: url(img/messagebox_critical.png); }
.dino-icon-messagebox-info { background-image: url(img/messagebox_info.png); }
.dino-icon-messagebox-warning { background-image: url(img/messagebox_warning.png); }

/* GROWLBOX ICONS */
.dino-icon-growlbox-critical { background-image: url(img/messagebox_critical.png); }
.dino-icon-growlbox-info { background-image: url(img/messagebox_info.png); }
.dino-icon-growlbox-warning { background-image: url(img/messagebox_warning.png); }

/* PANEL ICONS */
.dino-header-button > .dino-icon {
	background-image: url(img/ui-icons_454545_256x240.png);
}

/* DIALOG ICONS */
.dino-icon-dialog {	background: url(img/ui-icons_454545_256x240.png); }
.dino-icon-dialog-h {	background: url(img/ui-icons_222222_256x240.png); }

.dino-icon-dialog-close { background-position: -80px -128px; }
.dino-icon-dialog-collapse { background-position: -64px 0; }
.dino-icon-dialog-expand { background-position: -128px 0; }
.dino-icon-dialog-minimize { background-position: -48px -80px; }
.dino-icon-dialog-maximize { background-position: -16px -80px; }

.dino-icon-right {	background: url(img/right.png) 50% 50%; }

/* SPINNER ICONS */
.dino-icon-spinner-up { background: url(img/up.png) 50% 50%;}
.dino-icon-spinner-down {	background: url(img/down.png) 50% 50%;}

/* TREE ICONS */
.dino-tree-node-button.expanded {
	background-position: -48px -16px;
	background-image: url(img/ui-icons_222222_256x240.png);
}

.dino-tree-node-button.collapsed {
	background-position: -160px -16px;
	background-image: url(img/ui-icons_888888_256x240.png);
}

.dino-tree-node-button:hover {
	background-image: url(img/ui-icons_2e83ff_256x240.png);	
}


/* PAGER ICONS */
.dino-icon-pager-first { background-image: url(img/control_rewind.png); }
.dino-icon-pager-prev {	background-image: url(img/control_backward.png); }
.dino-icon-pager-next {	background-image: url(img/control_play.png); }
.dino-icon-pager-last {	background-image: url(img/control_fastforward.png); }




/* GRID */
.dino-grid-header {
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
}


/* PANEL */
.dino-panel-header {
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;	
	text-shadow: 1px 1px 2px #f2f2f2;
	color: #454545;
}



/* BUTTON */
button.plain {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.dino-icon-button {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}


/* SPLIT */
.dino-split {
	background: url(img/vsplit.png) repeat-y scroll 50% 50%;
}




/*
 * FORM FIELDS
 */

.dino-form-field {
	border: 1px solid #aaa;
	
/*	line-height: 12px;*/
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
/*	padding-left: 3px;*/
	
	width: 150px;  /* ширина поля по умолчанию */
	min-height: 20px;
}

.dino-form-field [role='actor'] {
	border: none;
	border-left: 1px solid #aaa;

	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
		
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
}

.dino-form-field input {
/*	margin: 0 3px;*/
	margin: 2px;
	width: 0px;  /*  */
}

.dino-form-field button[role='actor'] {
	padding: 2px;
}

.dino-form-field [role='actor']:hover {
	border-left: 1px solid #aaa;
	background: #ddd;
}

.dino-form-field.focus {
	border-color: #68f;
}


