

.dino-border-all { border: 1px solid #aaa; }
.dino-border-bottom { border-bottom: 1px solid #aaa; }
.dino-border-top { border-top: 1px solid #aaa; }
.dino-border-left { border-left: 1px solid #aaa; }
.dino-border-right { border-right: 1px solid #aaa; }
.dino-border-no-right { border-right: none;}
.dino-border-no-bottom { border-bottom: none;}
.dino-border-no-top { border-top: none;}
.dino-border-none { border: none; }


.dino-corner-all {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.dino-corner-top {-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.dino-corner-bottom {-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.dino-corner-left {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.dino-corner-right {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}
.dino-corner-right-top {-moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; border-radius: 0 4px 0 0;}
.dino-corner-right-bottom {-moz-border-radius: 0 0 4px 0; -webkit-border-radius: 0 0 4px 0; border-radius: 0 0 4px 0;}



/*
 * Background
 */

.dino-bg-highlight { background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC; }
.dino-bg-1 { background: url(img/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-2 { background: url(img/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-3 { background: url(img/ui-bg_glass_75_dadada_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-4 { background: url(img/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50% #fff; }
.dino-bg-5 { background: url(img/ui-bg_glass_95_fef1ec_1x400.png) repeat-x scroll 50% 50% #fff; }






/*
 * LED Icons 
 */

.dino-icon {
	width: 16px;
	height: 16px;
/*	display: block;*/
	background-position: 50% 50%;
}

.icon16 .dino-icon, .icon16.dino-icon {
	width: 16px;
	height: 16px;
}

.icon24 .dino-icon, .icon24.dino-icon {
	width: 24px;
	height: 24px;
}

.icon32 .dino-icon, .icon32.dino-icon {
	width: 32px;
	height: 32px;
}

.icon48 .dino-icon, .icon48.dino-icon {
	width: 48px;
	height: 48px;
}


/*
[dock$=center][class~='dino-icon']  {	margin-top: -8px; }
[dock^=center][class~='dino-icon'] { 	margin-left: -8px; }
*/
.dino-icon[dock$=center]  {	margin-top: -8px; }
.dino-icon[dock^=center] { 	margin-left: -8px; }
.icon16 .dino-icon[dock$=center], .icon16.dino-icon[dock$=center]  {	margin-top: -8px; }
.icon16 .dino-icon[dock^=center], .icon16.dino-icon[dock^=center]  {	margin-left: -8px; }
.icon24 .dino-icon[dock$=center], .icon24.dino-icon[dock$=center]  {	margin-top: -12px; }
.icon24 .dino-icon[dock^=center], .icon24.dino-icon[dock^=center]  {	margin-left: -12px; }
.icon32 .dino-icon[dock$=center], .icon32.dino-icon[dock$=center]  {	margin-top: -16px; }
.icon32 .dino-icon[dock^=center], .icon32.dino-icon[dock^=center]  {	margin-left: -16px; }


.dino-icon-close { background-image: url(img/led/cross.png); }
.dino-icon-error { background-image: url(img/led/error.png); }
.dino-icon-info { background-image: url(img/led/exclamation.png); }
.dino-icon-warn { background-image: url(img/led/exclamation_octagon_fram.png); }

.dino-icon-spinner { background-image: url(img/ajax-loader.gif); }
.dino-icon-search { background-image: url(img/search.png); }

.dino-icon-messagebox-critical { background-image: url(img/messagebox_critical.png); }
.dino-icon-messagebox-info { background-image: url(img/messagebox_info.png); }
.dino-icon-messagebox-warning { background-image: url(img/messagebox_warning.png); }

.dino-icon-growlbox-critical { background-image: url(img/messagebox_critical.png); }
.dino-icon-growlbox-info { background-image: url(img/messagebox_info.png); }
.dino-icon-growlbox-warning { background-image: url(img/messagebox_warning.png); }



.dino-icon-dialog {	background: url(img/ui-icons_454545_256x240.png); }
.dino-icon-dialog-h {	background: url(img/ui-icons_222222_256x240.png); }

.dino-icon-dialog-close { background-position: -80px -128px; }
.dino-icon-dialog-collapse { background-position: -64px 0; }
.dino-icon-dialog-expand { background-position: -128px 0; }
.dino-icon-dialog-minimize { background-position: -48px -80px; }
.dino-icon-dialog-maximize { background-position: -16px -80px; }

.dino-icon-right {	background: url(img/right.png); }











.dino-dropdown-shadow {
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
}

.dino-dropdown-box {
	font-size: 10pt;
	max-height: 200px;
	overflow-y: auto;
}



.dino-text-content {
	background-color: #fff;
	padding: 3px;
}

.dino-widget-content {
	padding: 5px;
}

.dino-list-item {
/*	border-bottom: 1px dotted #ccc;*/
	display: block;
	cursor: default;
/*	padding: 0 5px;*/
}

.dino-list-item:hover {
	background-color: #ffc;
}


.dino-scrollable-content {
	overflow-y: auto;
}



/*
.dino-window-content {
	padding: 5px;
}
*/
.dino-widget-header {
	padding: 3px 5px; 
	background: url(img/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50% #CCCCCC; 
}

.dino-widget-footer {
	padding: 3px 3px; 
	background: url(img/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50% #CCCCCC; 
}




.dino-widget-controls {
	padding: 3px 0;
}

.dino-controls > button {
/*	padding: 3px 5px;*/
/*	margin: 0 3px;*/
}

.dino-controls {
	padding: 2px 0;
}

.dino-controls.left { text-align: left; }
.dino-controls.center { text-align: center; }
.dino-controls.right { text-align: right; }



.dino-messagebox-icon {
	margin: 10px 20px 10px 10px;
/*	float: left;*/
}

.dino-messagebox-content {
/*	min-height: 50px;*/
}





.dino-split {
	display: inline;
	vertical-align: middle;
	background: url(img/vsplit.png) repeat-y scroll 50% 50%;
	margin: 0 3px;
}




.dino-textfield {
/*	background-color: #fff;*/ /* Эта строчка убирает стилизацию браузера */
	padding: 0 2px;
}



/*
 * LOADING
 */

.dino-loading-overlay {
	background-color: #eee;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}	

.dino-loading-message {
  left: 50%;
  margin-left: -57px;
  margin-top: -10px;
  position: absolute;
	background-color: #fff;
  top: 50%;
	border: 2px solid #ccc;
	padding: 3px 5px;
	z-index: 101;
}



/*
 * PAGER
 */

.dino-pager {
	background-color: #eee;
	padding: 3px;
	font-size: 10pt;
}

/*
.dino-pager > button {
	background-color: #eee;
	border: 1px solid #eee;
}

.dino-pager > button:hover {
	background-color: #ddd;
	border: 1px solid #ccc;
}
*/

.dino-pager > span {
/*	vertical-align: middle;*/
	margin: 0 3px;
}




/**
 * GROUP BOX
 */

.dino-group {
	border: 1px solid #ccc;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	padding: 5px;
	position: relative;
	margin-top: 10pt;
}

.dino-group-title {
/*	position: absolute;*/
  color: #444444;
  font-size: 10pt;
/*  top: -12px;
	padding: 0 3px;*/
}



/**
 * FORM LAYOUT
 */

[layout='form'] tr {
	line-height: 20pt;
}

[layout='form'] td.label label {
	margin-right: 5px;
}





/*
 * TEXT ITEM
 */

input.l-icon, span.l-icon {
	padding-left: 20px;
}

input.r-icon, span.r-icon {
	padding-right: 20px;
}

input.l-icon-only, span.l-icon-only, input.r-icon-only, span.r-icon-only {
/*	margin-left: 16px;*/
	padding: 0 8px;
}


input.l-icon-only.r-icon-only, span.l-icon-only.r-icon-only {
	padding: 0 16px;
}



.dino-text-item {
/*	cursor: default;*/
}





/*
 * Buttons
 */
.dino-toggle-button {
	cursor: pointer;
}


.dino-xtextfield input, .dino-xtextfield span {
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 18px;
}

.dino-xtextfield input {
	border: 1px solid #aaa;
}

.dino-xtextfield span {
	border-style: solid;
	border-color: #aaa;
	border-width: 1px 1px 1px 0;
	cursor: default;
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
}

.dino-xtextfield .dino-icon {
	background-position: -64px -16px;
	background-image: url(img/ui-icons_222222_256x240.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
}


/*
 * SPLIT BUTTON
 */
.dino-split-button-2-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -8px;
}

.dino-split-button-1 {
	color: #444;
}

.dino-split-button-1:hover {
	color: #000;
}

.dino-split-button .dino-dropdown-box {
	background-color: #fff;
	font-size: 10pt;
}



/*
 * TOOL BUTTON
 */
/*
.dino-tool-button {
	display: inline-block;
	padding: 3px;
	border: 1px solid #eee;
	cursor: default;
	font-size: 9pt;
	background-color: #eee;
}

.dino-tool-button:hover {
	border: 1px solid #ccc;
}

.dino-tool-button.clicked, .dino-tool-button.selected {
	background-color: #e0e0e0;
}
*/


/*
 * ICON BUTTON
 */

.dino-icon-button {
	border: 1px solid #eee;
	background-color: #eee;
	margin: 0;
}

.dino-icon-button:hover {
	border-color: #ccc;	
	background-color: #e8e8e8;	
}

.dino-icon-button.clicked {
	background-color: #ddd;	
}

.dino-icon-button.disabled:hover {
	background-color: transparent;
	border: 1px solid transparent;
}

.dino-icon-button.disabled > * {
	opacity: .3;
}

.dino-icon-button.disabled.clicked {
	background-color: #eee;
}




/*
 * SPINNER BUTTON
 */

.dino-icon-up {
	background-image: url(img/up.png);
	background-position: 50% 50%;
}

.dino-icon-down {
	background-image: url(img/down.png);
	background-position: 50% 50%;
}



/*
 * TEXT BUTTON
 */

.dino-text-button > span {
	padding: 0 3px;
}


/*
.dino-text-button {
	position: relative;
}


.dino-text-button > .dino-icon {
	position: absolute;
	top: 50%;
}

.dino-text-button > span.l-icon {
	margin-left: 20px;
}
*/




/*
.dino-button-bar {
	padding: 2px;
}

.dino-button-bar > .dino-text-button {
	padding: 3px 5px;
	margin: 0 3px;
}
*/



/*
 * LIST
 */
/*
.dino-list-menu {
	min-height: 16px;
	padding: 3px;
	background-color: #eee;
}

.dino-list-menu-item {
	color: #444;
	cursor: pointer;
	font-size: 10pt;
	border: 1px solid #eee;
	background-color: #eee;
	outline: none;
	padding: 2px 5px;
}

.dino-list-menu-item::-moz-focus-inner {
	border: none;
}

.dino-list-menu-item:hover {
	color: #000;
	background-color: #ddd;
	border: 1px solid #ccc;
}
*/

/*
 * LISTBOX
 */

.dino-listbox-cell {
	border-bottom: 1px dotted #ccc;
	cursor: default;
}

.dino-listbox-row:hover {
	background-color: #eee;
}

.dino-listbox-row.selected {
/*	background-color: #8FCDFF;*/
/*	background: url(img/selection.png) repeat-x scroll 50% 50% ;*/
/*	background-color: #eee;*/
/*	background: url(img/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50% #fff;*/
	background-color: #ffc;
}

/*
.dino-listbox-row.selected:hover {
	background-color: #ffffc0;
}
*/




/**
 * CONTROLS
 */

.dino-control-box {
	background-color: #eee;
	padding: 3px;
}

.dino-control-box > * {
	margin-right: 3px;
}

.dino-control-box > button.plain {
	background-color: #eee;
	border: 1px solid #eee;
}

.dino-control-box > button.plain:hover {
	border: 1px solid #ccc;	
	background-color: #ddd;
}

.dino-control-box > button.selected {
	background-color: #ccc;
}



/*
 * Tabs
 */

.dino-tabs-item {
	color: #444;
	text-shadow: 1px 1px 2px #fff;
}

.dino-tabs-item:hover {
	color: #000;
}

/*
.dino-tabs-item > span {
	vertical-align: middle;
}
*/

.dino-tabs {
	font-size: 13px;	
}


.dino-tabs.top {
/*	height: 25px;*/
	position: relative;
	margin: 0;
	padding: 4px 0 2px;
}

.dino-tabs li {
	text-align: center;
	cursor: pointer;
	list-style: none outside none;
}

.dino-tabs li.active {
	background-color: #f8f8f8;
	background-image: none;
	font-weight: bold;
}

.dino-tabs.top li {
/*	height: 24px;*/
	padding: 2px 10px;
	margin-left: 3px;
/*	float: left;*/
	display: inline;
	border-bottom: 0 !important;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}



.dino-tabs.top li.active {
	padding-bottom: 3px !important;
	margin-top: -4px;
	padding-top: 4px;
}



.dino-tabs.bottom {
/*	height: 25px;*/
	position: relative;
	margin: 0;
	padding: 2px 0 4px;
}

.dino-tabs.bottom {
/*	margin-top:-1px;*/	
}

.dino-tabs.bottom li {
/*	height: 24px;*/
	padding: 2px 10px;
	margin-left: 3px;
/*	margin-top:1px;*/
/*	float: left;*/
	display: inline;
	border-top: 0 !important;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.dino-tabs.bottom li.active {
	padding-top: 3px;
/*	margin-top:1px;*/
	margin-bottom: -4px;
	padding-bottom: 4px;
/*	padding: 0 24px 4px 24px;*/
}





.dino-tabs.left {
	height: 25px;
	position: absolute;
	margin: 0;
	padding: 0;/* 0 0 4px;*/
}

.dino-tabs.left li {
	margin-top: 3px;
	border-right: 0 !important;
}

.dino-tabs.left li.active {
	padding-right: 1px !important;
}




/*
 * TAB PANEL
 */

.dino-tab-pages {
	background-color: #fff;
}

.dino-tab-footer {
	background-color: #f8f8f8;
	height: 3px;
	border: 1px solid #aaa;
}

/*
 * GRID
 */

.dino-grid {
	
}

.dino-grid-body {
	text-align: center;
}

.dino-grid-header {
/*	background-color: #f0f0f0;*/
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
}
/*
.dino-grid-head th {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	text-align: center;
}
*/

.dino-grid-row {
	cursor: default;
/*	height: 16px;*/	
}

.dino-grid-row:hover {
	background-color: #f4f4f4;/*#eee;*/
}

.dino-grid-row.selected {
	background-color: #ffc;
}

.dino-grid-content {
	background-color: #fff;
}

.dino-grid-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 0;
}
	
.dino-grid-h-cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #444;
	font-size: 9pt;
	text-shadow: 1px 1px 1px #fff;
}






.dino-icon-column {
	width: 16px;
	text-align: center;
}

.dino-numeric-column {
	text-align: right;
}

.dino-default-column {
	text-align: center;
}

.dino-text-column {
	text-align: left;
}


/*
 * Form
 */

[layout='form'] > .dino-form-item-wrapper {
	padding: 3px;
}

[layout='form'] > .dino-form-item-wrapper > label {
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}



[layout='simple-form'] > .dino-form-item-wrapper {
	padding: 3px;
}





/*
 * Growl
 */
.dino-growl {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 10000;
	font-size: 9pt;
}

.dino-growl-box {
	width: 300px;
	margin-bottom: 5px;
	display: none;
	padding: 5px;
}

.dino-growl-box.info {
	background-color: #eee;
}

.dino-growl-box.warning {
	background-color: #ffc;
}

.dino-growl-box.critical {
	background-color: #fcc;
}

/*
.growl-item-info { background-color: #eee; }
.growl-item-warn {	background-color: #ff0; }
.growl-item-error {background-color: #f33; }
*/




/*
 * TREE GRID
 */
.tree-grid {
	
}

.dino-tree-grid-item > .dino-tree-node-button {
/*	margin-top: 3px;*/
	left: 0;
	margin-top: -8px;
	top:50%;
}

.dino-tree-grid-row .indent {
	padding-left: 20px;
}

.dino-tree-grid-content {
	background-color: #fff;
}



/*
 * MENU
 */

.dino-menu-item {
	position: relative;
	display: block;
	cursor: pointer;
	white-space: nowrap;
	font-size: 9pt;
	padding: 2px 18px 2px 10px;
}	

.dino-menu-item:hover {
	background-color: #ddd;
}


.dino-menu-dropdown {
	border: 1px solid #aaa;
	background-color: #eee;
/*	z-index: 2000;*/
}

.dino-menu-shadow {
	-moz-box-shadow: 1px 1px 3px #aaa;
	-webkit-box-shadow: 1px 1px 3px #aaa;
	box-shadow: 1px 1px 3px #aaa;		
}

/*
.dino-menu-item-content {
	padding: 2px 10px;
	display: block;
}

.dino-menu-item-content.left-panel span {
	margin-left: 16px;
}

.dino-menu-item-content .dc-form-checkbox {
	margin-top: -8px;
}


.dino-menu-item-submenu  {
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 2000;
	
	-moz-box-shadow: 1px 1px 3px #aaa;
	-webkit-box-shadow: 1px 1px 3px #aaa;
	box-shadow: 1px 1px 3px #aaa;	
}

.dino-submenu-icon {
	background-position: 32px 32px;
	background-image: url(img/ui-icons_222222_256x240.png);
}
	
.dino-menu-item.has-submenu > .dino-menu-item-content .dino-submenu-icon {
	background-position: -32px -16px;
}
*/


.dino-context-menu {
	border: 1px solid #ccc;
	background-color: #eee;
	z-index: 2000;
}














/*
 * PANEL
 */


.dino-panel-shadow {
	-moz-box-shadow: 0 0 .7em #aaa;
	-webkit-box-shadow: 0 0 .7em #aaa;
	box-shadow: 0 0 .7em #aaa;
}

.dino-panel {
/*	
	-moz-border-radius: 6px 6px 0 0; 
	-webkit-border-radius: 6px 6px 0 0; 
	border-radius: 6px 6px 0 0;
*/	
/*	border: 1px solid #aaa;*/
	background-color: #eee;
}

.dino-panel-header {
	padding: 3px 6px;
/*	
	-moz-border-radius: 6px 6px 0 0; 
	-webkit-border-radius: 6px 6px 0 0; 
	border-radius: 6px 6px 0 0;
*/	
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
	border-bottom: 1px solid #aaa;
	
	text-shadow: 1px 1px 2px #f2f2f2;
	color: #454545;
	text-align:center;
	
	overflow: hidden;	
}

.dino-panel-content {
	border: 1px solid #aaa;
	background-color: #fff;
	margin: 3px;
}



.dino-header-button {
	border: 1px solid transparent;
	background-color: transparent;
	padding: 0;
}

.dino-header-button > .dino-icon {
	background-image: url(img/ui-icons_454545_256x240.png);
}

/*
.dino-header-button:hover > .dino-icon {
	background-image: url(img/ui-icons_222222_256x240.png);
}
*/





/*
 * DIALOG
 */

.dino-overlay {
	opacity: 0.4;
	background-color: black;
	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}	


.dino-window {
/*	position: absolute;*/
	z-index: 1100;
	background-color: #fff;
/*	padding: 5px;*/
}



.dino-dialog-shadow {
	-moz-box-shadow: 0 0 .7em #aaa;
	-webkit-box-shadow: 0 0 .7em #aaa;
	box-shadow: 0 0 .7em #aaa;
}

.dino-dialog .dino-window-content {
	border: 1px solid #aaa;
	background-color: #eee;
}

.dino-dialog-header {
	padding: 3px 6px;
	
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
	border-bottom: 1px solid #aaa;
	
	text-shadow: 1px 1px 3px #ccc;
	color: #444;
	text-align:center;
	
	overflow: hidden;	
}

.dino-dialog-content {
/*	border: 1px solid #aaa;*/
	margin: 3px;
}

.dino-dialog-buttons {
	margin: 3px;	
}






/*
 * MESSAGE BOX
 */






/*
 * MESSAGE PANEL (GROWL)
 */
/*
.message-panel {
	position: absolute;
	width: 500px;
	top: 10px;
	right: 10px;
	z-index: 999999;
}

.message-panel .dino-growl {	margin-bottom: 2px;	padding: 2px;}
.message-panel .dino-growl-icon {margin-left: 3px;}	
.message-panel .dino-growl-content {	margin: 0 30px;	font-size: 0.8em;}	
.message-panel .dino-growl-button {margin-right: 3px;}	
*/












.dino-clickable { cursor: pointer; }




/*
 * TREE
 */

.dino-tree {
	white-space: nowrap;
}

.dino-tree-node {
	list-style: none outside none;
	position: relative;
}

.dino-tree-node-button {
	position: absolute;
	cursor: pointer;
	top: 0;
	display: inline;
	/* ui-icon */
}

.dino-tree-node.expanded > .dino-tree-node-button {
	/* ui-icon-triangle-1-se */
	background-position: -48px -16px;
	background-image: url(img/ui-icons_222222_256x240.png);
}

.dino-tree-node.collapsed > .dino-tree-node-button {
	/* ui-icon-triangle-1-e */
	background-position: -160px -16px;
	background-image: url(img/ui-icons_888888_256x240.png);
}

.dino-tree-node-button:hover {
	background-image: url(img/ui-icons_2e83ff_256x240.png) !important;	
}

.dino-tree-node-content {
	margin-left: 20px;
}

.dino-tree-node-content:hover {
/*	background-color: #ffc;#fea;*/
	color: #666;
}

.dino-tree-node.selected > .dino-tree-node-content {
/*	background-color: #6af;*/
	color: #11f;
}


.dino-tree ul {
	margin: 0;
	padding-left: 20px;
}






/*
 * EDITORS
 */

.dino-text-editor {
	outline: none;
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	text-align: right;
	display: block;
}

.dino-text-editor.focus {
	border-color: #68f;	
}





/*
 * FORM FIELDS
 */

.dino-form-field {
	border: 1px solid #aaa;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.dino-form-field [role='actor'] {
	border: none;
	border-left: 1px solid #aaa;
/*	background: #ccc;*/
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
		
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.dino-form-field [role='actor']:hover {
	border-left: 1px solid #aaa;
	background: #ddd;
}





/*
 * EDITOR FIELDS
 */

.dino-editor-field {
	display: inline-block;	
}

.dino-editor-field [role='actor'] {
	border: none;
	padding: 0;
}



