
/*
 * Buttons
 */
.dino-toggle-button {
	cursor: pointer;
}




.dino-border-all {
	border: 1px solid #aaaaaa;
}


.dino-corner-all {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}







/*
 * Growl
 */

.growl-item-info { background-color: #eee; }
.growl-item-warn {	background-color: #ff0; }
.growl-item-error {background-color: #f33; }


/*
 * LED Icons 
 */

.dino-icon {
	width: 16px;
	height: 16px;
	display: block;
}

/*
[dock$=center][class~='dino-icon']  {	margin-top: -8px; }
[dock^=center][class~='dino-icon'] { 	margin-left: -8px; }
*/
.dino-icon[dock$=center]  {	margin-top: -8px; }
.dino-icon[dock^=center] { 	margin-left: -8px; }


.dino-icon-close { background-image: url(img/led/cross.png); }
.dino-icon-error { background-image: url(img/led/error.png); }
.dino-icon-info { background-image: url(img/led/exclamation.png); }
.dino-icon-warn { background-image: url(img/led/exclamation_octagon_fram.png); }

.led-icon-smile { background-image: url(img/led/emoticon_smile.png); }
.led-icon-unhappy { background-image: url(img/led/emoticon_unhappy.png); }

.dino-off.dino-icon-close { background-image: url(./img/led_grey/cross.png); }

