

.e-border-all { border: 1px solid #aaa; }
.e-border-bottom { border-bottom: 1px solid #aaa; }
.e-border-top { border-top: 1px solid #aaa; }
.e-border-left { border-left: 1px solid #aaa; }
.e-border-right { border-right: 1px solid #aaa; }
.e-border-no-right { border-right: none;}
.e-border-no-left { border-left: none;}
.e-border-no-bottom { border-bottom: none;}
.e-border-no-top { border-top: none;}
.e-border-none { border: none; }


.e-corner-all {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.e-corner-top {-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.e-corner-bottom {-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.e-corner-left {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.e-corner-right {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}
.e-corner-right-top {-moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; border-radius: 0 4px 0 0;}
.e-corner-right-bottom {-moz-border-radius: 0 0 4px 0; -webkit-border-radius: 0 0 4px 0; border-radius: 0 0 4px 0;}



/*
 * Background
 */

.e-bg-highlight { background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC; }
.e-bg-1 { background: url(img/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50% #fff; }
.e-bg-2 { background: url(img/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50% #fff; }
.e-bg-3 { background: url(img/ui-bg_glass_75_dadada_1x400.png) repeat-x scroll 50% 50% #fff; }
.e-bg-4 { background: url(img/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50% #fff; }
.e-bg-5 { background: url(img/ui-bg_glass_95_fef1ec_1x400.png) repeat-x scroll 50% 50% #fff; }



/*
 * HELPERS
 */
.e-clickable { cursor: pointer; }

.e-dropdown-shadow {
	-moz-box-shadow: 1px 1px 5px #ddd;
	-webkit-box-shadow: 1px 1px 5px #ddd;
	box-shadow: 1px 1px 5px #ddd;
}

.e-growl {
	-moz-box-shadow: 0px 0px 6px #aaa;
	-webkit-box-shadow: 0px 0px 6px #aaa;
	box-shadow: 0px 0px 6px #aaa;
}





.e-text-content {
	background-color: #fff;
	padding: 3px;
}


/*
.tree-list-item {
	padding: 1px 0;
}
*/
/*
.e-list-view > .list-item {
	padding: 1px 3px;
}
*/
/*
.e-icon-close { background-image: url(img/led/cross.png); }
.e-icon-error { background-image: url(img/led/error.png); }
.e-icon-info { background-image: url(img/led/exclamation.png); }
.e-icon-warn { background-image: url(img/led/exclamation_octagon_fram.png); }
*/

.e-icon-loader { background-image: url(img/ajax-loader.gif); }

.e-icon-search { background-image: url(img/search.png); }

/* MESSAGEBOX ICONS */
.e-icon-messagebox-critical { background-image: url(img/messagebox_critical.png); }
.e-icon-messagebox-info { background-image: url(img/messagebox_info.png); }
.e-icon-messagebox-warning { background-image: url(img/messagebox_warning.png); }
.e-icon-messagebox-success { background-image: url(img/messagebox_success.png); }

/* GROWLBOX ICONS */
.e-icon-growlbox-critical { background-image: url(img/messagebox_critical.png); }
.e-icon-growlbox-info { background-image: url(img/messagebox_info.png); }
.e-icon-growlbox-warning { background-image: url(img/messagebox_warning.png); }
.e-icon-growlbox-success { background-image: url(img/messagebox_success.png); }

/* PANEL ICONS */
.e-header-button > .e-icon {
	background-image: url(img/ui-icons_454545_256x240.png);
}

/* DIALOG ICONS */
.e-icon-dialog {	background: url(img/ui-icons_454545_256x240.png); }
.e-icon-dialog-h {	background: url(img/ui-icons_222222_256x240.png); }

.e-icon-dialog-close { background-position: -80px -128px; }
.e-icon-dialog-collapse { background-position: -64px 0; }
.e-icon-dialog-expand { background-position: -128px 0; }
.e-icon-dialog-minimize { background-position: -48px -80px; }
.e-icon-dialog-maximize { background-position: -16px -80px; }

.e-icon-right {	background: url(img/right.png) 50% 50%; }

/* SPINNER ICONS */
.e-icon-spinner-up { background: url(img/up.png) 50% 50%;}
.e-icon-spinner-down {	background: url(img/down.png) 50% 50%;}

/* TREE ICONS */
.e-tree-node-button.expanded {
	background-position: -48px -16px;
	background-image: url(img/ui-icons_222222_256x240.png);
}

.e-tree-node-button.collapsed {
	background-position: -160px -16px;
	background-image: url(img/ui-icons_888888_256x240.png);
}

.e-tree-node-button:hover {
	background-image: url(img/ui-icons_2e83ff_256x240.png);	
}


/* PAGER ICONS */
.e-icon-pager-first { background-image: url(img/control_rewind.png); }
.e-icon-pager-prev {	background-image: url(img/control_backward.png); }
.e-icon-pager-next {	background-image: url(img/control_play.png); }
.e-icon-pager-last {	background-image: url(img/control_fastforward.png); }




/* GRID */
.e-grid-header {
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
}


/* PANEL */
.e-panel-header {
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;	
	text-shadow: 1px 1px 2px #f2f2f2;
	color: #454545;
}


/* DIALOG */
.e-dialog-header {
	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;	
	text-shadow: 1px 1px 2px #f2f2f2;
	color: #454545;
}



/* BUTTON */
button.plain {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.e-icon-button {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}


/* SPLIT */
.e-split {
	background: url(img/vsplit.png) repeat-y scroll 50% 50%;
}

.e-split.horizontal {
	background: url(img/hsplit.png) repeat-x scroll 50% 50%;
	margin: 2px;
	height: 2px;
	display: block;
}




/*
 * FORM FIELDS
 */

.e-form-field {
	border: 1px solid #aaa;
	
/*	line-height: 12px;*/
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
/*	padding-left: 3px;*/
	
	width: 150px;  /* ширина поля по умолчанию */
	min-height: 20px;
}

.e-form-field [role='actor'] {
	border: none;
	border-left: 1px solid #aaa;

	background: url(img/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% 50% #CCCCCC;
		
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
}

.e-form-field [role='input'] {
/*	margin: 0 3px;*/
	margin: 2px;
	width: 0px;  /*  */
}

.e-form-field button[role='actor'] {
	padding: 2px;
}

.e-form-field [role='actor']:hover {
	border-left: 1px solid #aaa;
	background: #ddd;
}


/*
.e-form-field.focus {
	border-color: #68f;
}
*/

/*
.e-form-field.invalid {
	border-color: #f66;
}
*/

.e-form-field.invalid input {
	color: #f66;
/*	background: url(img/invalid_line.gif) repeat-x 0 100%;*/
}

.e-form-field.disabled {
	background-color: #ddd;
}

.e-form-field.disabled input {
	background-color: #ddd;
}



.e-field.focus {
/*	-moz-box-shadow: 0px 0px 3px #68f;
	-webkit-box-shadow: 0px 0px 3px #68f;
	box-shadow: 0px 0px 3px #68f;*/
	-moz-box-shadow: 0px 0px 3px #8af;
	-webkit-box-shadow: 0px 0px 3px #8af;
	box-shadow: 0px 0px 3px #8af;
	border-color: #8af;
}

.e-field.invalid {
	-moz-box-shadow: 0px 0px 3px #f88;
	-webkit-box-shadow: 0px 0px 3px #f88;
	box-shadow: 0px 0px 3px #f88;
	border-color: #f88;
}






.e-tab-footer {
	height: 3px;
	border: 1px solid #aaa;
}





.e-overlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: .6;
}




/*
 * LIST TREE
 */

.e-list-tree-node.selected > .tree-list-item {
	background-color: #ffc;
}

.e-list-tree {
	background-color: #fff;
}

.e-list-tree ul {
	padding-left: 0px;
}

.indent {
	margin-left: 6px;
	cursor: default;
}


